@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&family=Montserrat:wght@500&family=Press+Start+2P&family=Urbanist:wght@600&family=Work+Sans:wght@800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: Montserrat;


}

.parent-to-all {
    display: flex;
    height: 100%;
    width: 100%;

}

.col0O {
    width: 2%;
    background: rgb(22 195 220 / 15%);
}

.col1O {
    height: 100%;
    width: 20%;
    min-width: 20%;
    /* background-color: black; */
    background: rgb(22 195 220 / 15%);
}
.parent-col2{
    height: 100%;
    width: 65%;
    /* background-color: rgb(0, 232, 93); */
    background: rgb(22 195 220 / 15%);
}

.col2O {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.col3O {
    height: 100%;
    width: 35%;
    background: linear-gradient(180deg, #2CA4B5 0%, rgba(44, 164, 181, 0.00) 100%);
}

.parentleft {
    height: 14%;
    margin: top;
    margin-top: 35px;

}

.business {
    margin-top: 30px
}

.title {
    color: #2CA4B5;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.business-text {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.big {
    position: absolute;
    margin-top: -40px;
    display: inline;

}

.small {
    position: absolute;
    display: inline;
}

.parent-svg {
    margin-left: 10px;
    margin-top: 20px;
}

.loginOwnerform {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 90%;
    /* background-color: #11c10e; */
    align-items: flex-start;
}

.pad {
    height: 10%;
    width: 70%;
    border-radius: 44px;
    flex-shrink: 0;
    padding-left: 27px;
    border: none;
    outline-color: #2CA4B5;
    font-size: medium;
    box-sizing: border-box;
    margin-top: 35px;

}

.e-text {
    background: rgba(17, 110, 123, 0.10);
}
.password-connnn{
    width: 70%;
    height: 10%;
    /* box-sizing: border-box; */
    margin-top: 35px;
}

.p-text {
    background: rgba(44, 164, 181, 0.23);
    height: 100%;
    width: 100%;
    border-radius: 44px;
    flex-shrink: 0;
    padding-left: 27px;
    border: none;
    outline-color: #2CA4B5;
    font-size: medium;
    box-sizing: border-box;
    
}
#eynnn{
    position: absolute;
    height: 15px;
    /* margin-right: 33px; */
    margin-left: -52px;
    margin-top: 15px;
    display: inline;

}

.parent-mid {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);

}
.checkcheck:not(:checked),
.checkcheck:checked {
  position: absolute;
  left: -9999px;
}
.checkcheck:not(:checked) + label,
.checkcheck:checked + label {  
  position: relative;
  /* overflow: hidden; */
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  height:15px;
  line-height: 25px;
  margin-left:5px;
  border-radius: 7px;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/* checkbox aspect */
.checkcheck + label:before,
.checkcheck + label:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;

  -webkit-transition: .2s;
  transition: .2s;
}
/* Unchecked styles */
.checkcheck:not(:checked) + label:before {
  top: 0px;
  width: 15px; height: 15px;
  border: 3px solid #2CA4B5;
}
.checkcheck:not(:checked) + label:after {
  top: 0px;
  width: 15px; height: 15px;
  border: 3px solid #2CA4B5;
  z-index: 0;
}
/* Checked styles */
.checkcheck:checked + label:before {
  top: 2px;
  width: 6px; height: 11px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 3px solid #2CA4B5;
  border-bottom:3px solid #2CA4B5;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);

  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}
.checkcheck:checked + label:after {
  top: 0px;
  width: 15px; height: 15px;
  border: 3px solid #2CA4B5;
  z-index: 0;
}
/* disabled checkbox */
.checkcheck:disabled:not(:checked) + label:before,
.checkcheck:disabled:checked + label:before {
  top: 0;
  box-shadow: none;
  /* background-color: #444; */
  width: 15px; height: 15px;
  border: 3px solid #444;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
.checkcheck:disabled + label {
  /* color: #555; */
}
.checkcheck:disabled:not(:checked) + label:hover:before {
  /* border-color: red; */
}


.log-text {
    background: #2CA4B5;
    color: #FFF;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 800;
    line-height: normal;
    margin-top: 15px;
    font-size: 23px;
    padding: 0px;
}
.Parent-not{
    MARGIN-TOP: 15PX;
    text-align: center;
    width: 70%;
    color: rgba(0, 0, 0, 0.54);
}
.under{
    text-decoration: none;
    background: linear-gradient(121deg, #2CA4B5 2.49%, #006D7B 59.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.parent-google{
    width: 70%;
    border-radius: 44px;
    background: rgb(206 235 238);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.logGoogle-text{
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 17px;
}
.parent-copy{
    width: 90%;
    height: 10%;
    display: fl;
    /* justify-content: center; */
    display: flex;
    align-items: center;
}
.parent-com{
    width: 70%;
    display: flex;
    justify-content: center;
}
.company{
    margin-left: 5px;
    font-weight: 800;
    
}
.logo-title{
    height: 25%;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.parent-name-business{
    height: 50%;
    width: 60%;
    /* background-color: #bc1818; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.col3-business{
    color: #000;
}
.font{
    font-size: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.one{
    color: #105760;
}
.two{
    color: #1B2093;;
}
.grow-with-us-margin{
    height: 100%;
    width: 5%;
    /* background-color: #06e123; */
}
.grow-business-parent{
    height: 51%;
    width: 50%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parent-lower{
    display: flex;
    /* flex-direction: column; */
    height: 75%;
    width: 100%;
   
    overflow: hidden;
}
.size{
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #2CA4B5 0%, rgba(0, 29, 33, 0.51) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* flex-wrap: wrap; */
    word-wrap: break-word;
}
.parent-col-3{
    width:45% ;
    height: 100%;
    /* background-color: #dd6262; */
    display: flex;
    /* justify-content: center; */
    align-items: end;
    /* transform: rotate(-23.391deg); */
    transform: rotate(-23.391deg);
    transform-origin: center;
    
    
}
.height-col{
    width: 20%;
   


}
.lower-col1{
    height: 25%;
    background: linear-gradient(180deg, #2CA4B5 0%, rgba(44, 164, 181, 0.00) 100%);
    border-radius: 44px;
    /* transform: rotate(-23.391deg); */
}
.lower-col2{
    height: 50%;
    border-radius: 44px;
    background: linear-gradient(180deg, #2CA4B5 0%, rgba(217, 217, 217, 0.00) 100%);
}
.lower-col3{
    height: 75%;
    border-radius: 44px;
    background: linear-gradient(180deg, #2CA4B5 0%, rgba(217, 217, 217, 0.00) 100%);
}
