.leftCon {
    width: 20%;
    max-height: 100vh ;
    border-right: 0.5px solid gray;
    padding: 0px 25px 0px 0px;
    float: left;
    overflow-y: auto;
  }
.checkContainer{
    width: 85%;
    margin: 20px 0px 0px 0px;
    padding: 5px;
    height: 8%;
}
.priceFilter {
    height: 210px;
    border-bottom: 0.5px solid gray;
    margin: 20px;
  }
.liver{
  position: relative;
  top: 40px;

}
  .checkimg{
    height: 30px;
    width: 30px;
  }
  .checki{
    display: none;
  }

  .rightCon{
   width:  calc(80% - 45px);
    height: 100vh;
    /* background-color: aqua; */
    float: right;
  }

  .up.dropdownnav{
    padding: 15px;
  /* border-bottom: 0.5px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px ;
  margin-left: -19px;
  margin-right: -45px;

  }
  .dynamicmessdetails{
    font-size: larger;
   width: 38%;
  }
.togglebtn{
  justify-content: space-between;
  width: 156px;

}
/*  Filename: ./components/ToggleSwitch.css*/


/* Add any other styles you need */



.toggle-container {
  position: relative;
  border-radius: 3.125em;
  width: 3.25em;
  height: 1.875em;
}

.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 10;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.toggle-track {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: inherit;
  padding: 0.25em;
  width: 100%;
  height: 100%;
  background-color: #aeaeae;
  box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s linear;
}
.toggle-container.green > .toggle-checkbox:checked + .toggle-track {
  background-color: #4ccf59;
}
.toggle-container.blue > .toggle-checkbox:checked + .toggle-track {
  background-color: #2CA4B5;
}
.toggle-container.boo > .toggle-checkbox:checked + .toggle-track {
  background-color: #ff3372;
}

.toggle-thumb {
  position: relative;
  border-radius: 0.6875em;
  transform-origin: left;
  width: 1.375em;
  height: 1.375em;
  background-color: #fff;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.2), inset 0 -0.125em 0.25em rgba(0, 0, 0, 0.2);
}
.toggle-checkbox.toggled-once + .toggle-track > .toggle-thumb {
  animation-name: grow-out, bounce-out;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.75, 0, 1, 1), cubic-bezier(0, 0, 0.3, 1.5);
  animation-delay: 0s, 0.2s;
  animation-fill-mode: forwards;
}
.toggle-checkbox.toggled-once:checked + .toggle-track > .toggle-thumb {
  animation-name: grow-in, bounce-in;
}
.toggle-container.boo .toggle-thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-image: url("https://assets.codepen.io/4175254/boo-face.png");
  background-size: 63.6363636364% 54.5454545455%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 -0.125em 0.25em rgba(0, 0, 0, 0.2);
  image-rendering: pixelated;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.toggle-container.boo > .toggle-checkbox:checked + .toggle-track > .toggle-thumb::after {
  opacity: 1;
}

@media (hover: hover) {
  .toggle-container.boo > .toggle-checkbox:hover + .toggle-track > .toggle-thumb::after {
    opacity: 1;
  }
}

@keyframes grow-in {
  0% {
    border-radius: 0.6875em;
    transform: translateX(0) scale(1);
  }
  100% {
    border-radius: 0.4448529412em / 0.9453125em;
    transform: translateX(0.5em) scale(1.5454545455, 0.7272727273);
  }
}
@keyframes bounce-in {
  0% {
    border-radius: 0.4448529412em / 0.9453125em;
    transform: translateX(0.5em) scale(1.5454545455, 0.7272727273);
  }
  100% {
    border-radius: 0.6875em;
    transform: translateX(100%) scale(1);
  }
}
@keyframes grow-out {
  0% {
    border-radius: 0.6875em;
    transform: translateX(100%) scale(1);
  }
  100% {
    border-radius: 0.4448529412em / 0.9453125em;
    transform: translateX(0.125em) scale(1.5454545455, 0.7272727273);
  }
}
@keyframes bounce-out {
  0% {
    border-radius: 0.4448529412em / 0.9453125em;
    transform: translateX(0.125em) scale(1.5454545455, 0.7272727273);
  }
  100% {
    border-radius: 0.6875em;
    transform: translateX(0) scale(1);
  }
}

body {
  background: #F9F8FD;
  font-family: 'Lexend Exa', sans-serif;
}

.dropdownnav {
  /* position: absolute; */
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  /* border: 2px solid #EBECF1;
  border-radius: 30px; */
  animation: slide-in 1s ease-out;
  background:  #2CA4B5;
  /* height: 43px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ; */
  &:hover{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
    .sb{color: #2CA4B5;}
  }
}

.dropdownnav ul {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  /* width: 142px; */
  margin: 0;
  /* bottom: -7px; */
  /* padding: 0 30px; */
  list-style-type: none;
  li:not(:last-child) {
    margin-right: 40px;
  }
  .sb{
    padding: 11px;
  width: 123px;

  }
  ul li{
    padding: 10px;
  }
  li {
    border: 2px solid transparent;
    border-radius: 5px;
    /* padding: 10px; */
    transition: background 0.2s;
    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s;
    }
    ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      display: block;
      margin: 12px -12px;
      padding: 0;
      background: #2CA4B5;
      /* border: 2px solid #F7C833;
      border-right: 2px solid #F89329;
      border-bottom: 2px solid #F89329; */
      border-radius: 5px;
      transition: opacity 0.2s, visibility 0.2s;
      li {
        margin: -2px 0 0 -2px;
        width: calc(100% - 20px);
        line-height: 1.7;
        a {
          color:white;
        }
        &:hover{
        background: white;
        a{color: #2CA4B5;}
         
        }
      }
     
    }
    &:hover {
      background:2CA4B5;
      /* border: 2px solid #F05749;
      border-right: 2px solid #E02A21;
      border-bottom: 2px solid #E02A21; */
      /* a {
        color: #F9F8FD;
      } */
      ul {
        visibility: visible;
        opacity: 1;
        box-shadow: 0px 3px 5px 2px #EBECF1;
        li {
          .sb {
            color: #F9F8FD;
          }
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}

.messimg{
  height: 12em;
  width: 11vw;
}
.mess{
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 25p;
  margin: 25px;
  border-radius: 10px;
  padding: 15px;
  /* width:calc(50vw - 336px); */
}
.messbody{
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 92px);
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-columns: repeat(2, 1fr); */
  z-index: 8;
}
.mess div div{
  margin-bottom: 3vh;
  margin-left: 15px;
}

.twobtns button {
  --c:  #229091; /* the color*/
  color:#2CA4B5;
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.twobtns button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
  color:white;
}
.twobtns button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}



/* body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  gap: 40px;
  background: #F2DCA2;
} */
.twobtns button {
  font-family: system-ui, sans-serif;
  /* font-size: 1.2vw; */
  cursor: pointer;
  padding: 0.1em .6em;
  /* font-weight: bold; */
  /* border: none; */
  color: #2CA4B5;
} 
@media (max-width: 139px) {
  .mess .features {
      display: none; /* Hide when container width is less than 139px */
  }}
  @media (max-width: 1500px) {
    .messbody {
        display: block; /* Hide when container width is less than 139px */
    }
}

.mapview{
  background: antiquewhite;
  position: absolute;
  height:calc(100vh-92px);
  z-index: 5;
}

.messaddress{
  width: 16vw;
  word-wrap: break-word;
}

.features{
  width: 16vw;
  word-wrap: break-word;
}

.wide-button {
  /* font-size: 1.2vw; */
  font-size: 20px;
  height: 40px;
  /* width: 8.2vw; */
  width: 155px;
}

.narrow-button {
  /* font-size: 1.5vw; */
  font-size: 19px;
  height: 40px;
  width: 155px;
}