body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.footereasypg span {
    font-family: 'Montserrat', sans-serif;
    color: #1B2093;
}

.main-container {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
}

.left-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(123deg, rgba(9, 225, 255, 0.41) 0%, rgba(217, 217, 217, 0.00) 72.32%);
    padding-left: 20px;
    padding-top: 15%;
}

h2 {
    color: #2CA4B5;
    margin-left: 20%;
}

h3 {
    margin-left: 20%;
    color: #000000;
}

#seeker {
    margin-top: 10px;
    margin-left: 20%;
    border-radius: 44px;
    background: #2CA4B5;
    border: none;
    height: 40px;
    width: 180px;
    text-align: center;
    font-size: medium;
    color: White;
    font-weight: bold;
    margin-bottom: 20px;
}

#provider {
    margin-left: 20%;
    border-radius: 44px;
    background: rgba(44, 164, 181, 0.00);
    border: 3px solid #2CA4B5;
    height: 40px;
    width: 180px;
    text-align: center;
    font-size: medium;
    color: #2CA4B5;
    font-weight: bold;
}

.right-container {
    display: flex;
    justify-content: end;
}

.right-container img {
    height: 100%;
    width: 90%;
    min-height: 400px;
    min-width: 200px;
}

.seekera {
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.p {
    color: #2CA4B5;
}