body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    ;
}

.nunu {
    color: #1B2093;
    font-weight: bold;
}

header {
    padding-top: 10px;
    justify-content: center;
    align-items: start;
}

.first-section {
    background: linear-gradient(to right, rgba(39, 216, 255, 0.48), rgba(255, 255, 255, 0.625));
    height: 500px;
}

@media (min-width: 600px) {
    .Container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr ;
        justify-content: center;
    }

    .easypg {
        display: flex;
        justify-self: start;
        padding-left: 40px;
        color: #2CA4B5;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: large;
    }

    .mid_div {
        gap: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: small;
        align-items: center;
    }
    .imageProfile{
        /* display: flex;
        justify-content: flex-end; */
        justify-self: end;
        align-items: center;
        margin-right: 73.5px;
    }


    .login-box {
        margin-right: 50px;
        margin-top: 3.5px;
        display: flex;
        justify-self: end;
        justify-content: center;
        align-items: center;
        border-radius: 31px;
        background: #2CA4B5;
        width: 82px;
        height: 28px;
        flex-shrink: 0;
        
    }

    .login-text {
        color: rgba(255, 255, 255, 0.97);
        font-family: 'Montserrat';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
    /* .logout-text {
        color: rgba(255, 0, 0, 0.97);
        font-family: 'Montserrat';
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
        cursor: pointer;
    } */
   .dropdown-content{
    display: none;
    position: absolute;
    background: #2CA4B5;
    width: 150px;
    height: 60px;
    box-shadow: 4px 5px 3px 2px rgba(1, 107, 110, 0.2);
    z-index: 1;
    margin-right: 20px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 0.5px;
    margin-left: -55px;
    border-radius: 31px;
   }
   .dropdown-content p {
    /* color: black; */
    /* padding: 10px 10px; */
    text-decoration: none;
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.97);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-top: 7px;
   }
   .dropdown-content p.logoutuser{
    margin-top: 4px;
   }
   .HR{
    display: block;
    color: rgba(255, 255, 255, 0.97);
    margin-top: 6px;

   }
.dropdown-content p:hover {background-color: #ddd;}

.imageProfile:hover .dropdown-content {
    display: block;
    /* justify-content: center;
    align-items: center; */

}

.imageProfile:hover .UserProfile {background-color: #3e8e41;}
      
}

.body_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;

    /* font-size: 3rem; */
    @media (min-width:800px) {
        font-size: 3rem;
    }

    @media (max-width : 799px) {
        font-size: 2rem;
    }

    font-weight: bolder;
    color: black;
}

p {
    background: linear-gradient(to right, rgba(16, 87, 96, 1), #4E6E7B);
    background-clip: text;
    color: transparent;
}



.image_container {
    width: 50%;
    min-width: 40%;
    margin-left: 20%;
}

.image_container img {
    width: 100%;
    height: 360px;
    object-fit: scale-down;
}



.searchbox {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 44px;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input[type="search"] {
    flex: 1;
    padding: 22px;
    border: 1px solid #ccc;
    border-radius: 44px 0 0 44px;
    outline: none;
    border: none;
}

input[type="submit"] {
    padding: 18px 15px;
    background: rgba(255, 255, 255, 0.97);
    color: rgba(44, 164, 181, 0.70);
    border-radius: 0 44px 44px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
}




.about-section {
    background: linear-gradient(90deg, #CCC 0.03%, rgba(255, 255, 255, 0.00) 48.81%);
    height: 500px;

}

.about-us-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3.5fr;
}

.about-us-text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(16, 87, 96, 1);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



.abouttt {
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-left: 40px;

    @media (min-width:651px) {
        font-size: 21px;
    }

    @media (max-width:650px) {
        margin-top: 25px;
        font-size: 18px;
    }

    font-weight: 300;

}

.learn-more {
    @media (min-width:600px) {
        font-size: 27px;
    }

    @media (max-width:600px) {
        font-size: 20px;
    }

    color: rgb(0, 0, 0, 1);
    font-weight: 600;
}

.about-image {
    display: flex;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 50%;
    object-fit: scale-down;
}
/* .dropdownanimation-enter {
    opacity: 0;
    transform: translateY(-10px);
    display:block!important;
  }
  
  .dropdownanimation-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-out;
  }
  
  .dropdownanimation-exit {
    opacity: 0;
    transform: translateY(-10px);
    display: block!important;
  }
  
  .dropdownanimation-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 1000ms ease-in;
  } */
